.modal.fade.login(tabindex='-1', role='dialog', aria-labelledby='login')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#gridSystemModalLabel.modal-title Log In
      .modal-body
        form(id='login' method='POST' action='/auth/login')
          .form-group
            label(for='login_username') Username
            input.form-control(type='text' id='login_username' name='username')
          .form-group
            label(for='login_password') Password
            input.form-control(type='password' id='login_password' name='password')
          button.btn.btn-primary Log in
      .modal-footer
        h4.pull-left OR &nbsp;
        a.btn.btn-primary.pull-left(href='/auth/twitter') Sign in via Twitter
