form(method='POST' action='/auth/update')
  label(for='update_email') email
  input(type='email' id='update_email' name='update_email')
  label(for='update_password') password
  input(type='password' id='update_password' name='update_password')
  label(for='password2') re-enter password
  input(type='password' id='update_password2' name='update_password2')
