extends layout.jade

block content
  script var data = !{JSON.stringify(histories)}
  div(id='map')
  if histories
    for history in histories
      div #{history}
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='/js/history.js')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  script(async defer src='https://maps.googleapis.com/maps/api/js?v=3.21&key=AIzaSyBPvBQVpE9mqJRIcSaUljVl5zEigpurjaw&libraries=places&callback=initMap')
