extends layout.jade

block content
  input(type='text' id='location' class='map-controls form-control' name='location')
  div(id='map')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  script(src='/js/tweet.js')
  script(src='/js/map.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDbPYcmC68G2OTo649e_KWosBGpFtyCy6s&libraries=places&callback=initMap')


