extends layout.jade

block content
  h1 Title
    button(class='test') Test Button
    input(type='text' id='location' class='map-controls' name='location')
  div(id='map')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(src='/js/map.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBPvBQVpE9mqJRIcSaUljVl5zEigpurjaw&libraries=places&callback=initMap')
  //- script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPvBQVpE9mqJRIcSaUljVl5zEigpurjaw&libraries=places&callback=initMap")


