extends layout.jade

block content
  h1 Title
    form(id='signup' method='POST' action='/signup')
      label(for='signup_username') Username
      input(type='text' id='signup_username' name='signup_username')
      label(for='signup_email') Email
      input(type='email' id='signup_email' name='signup_email')
      label(for='signup_password') Password
      input(type='text' id='signup_password' name='signup_password')
      label(for='signup_password2') Password
      input(type='text' id='signup_password2' name='signup_password2')
      button Sign Up
    form(id='login' method='POST' action='/login')
      label(for='login_email') Email
      input(type='email' id='login_email' name='login_email')
      label(for='login_password') Password
      input(type='text' id='login_password' name='login_password')
      button Log in
    input(type='text' id='location' class='map-controls' name='location')
  div(id='map')
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  //- script(src='/js/map.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBPvBQVpE9mqJRIcSaUljVl5zEigpurjaw&libraries=places&callback=initMap')


