doctype html
html
  head
    title Project 2
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .container
      block flash
        if alerts
          each value, key in alerts
            div(class='alert alert-#{key}') #{value}
      block header
        .row
          img.logo-main(src='/images/crowsnest.png')
          h1 Crow's Nest
          unless currentUser
            button.btn.btn-primary.pull-right(type='button', data-toggle='modal', data-target='.signup') Sign Up
            button.btn.btn-primary.pull-right(type='button', data-toggle='modal', data-target='.login') Log In
          if currentUser
            a.btn.btn-primary.pull-right(href='/history') History
            a.btn.btn-primary.pull-right(href='/auth/logout') Log Out
          include ./includes/login.jade
          include ./includes/signup.jade
      block content
